*{
	margin: 0;
	padding: 0;
	/*border: solid red 1px;*/
}

#divider-homepage {
	background-image: url(http://i.imgur.com/Gi6tm7t.jpg);
	height: 100vh;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	position: relative;
}

#divider-homepage h1 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-family: "Cinzel", serif;
  font-size: 65px;
  text-align: center;
	color: #FFA6A3;
	opacity: 0.8;
  padding-top: 320px;
}

#top-menu-nav {
  position: fixed;
  top: 0;
  background-color: white;
  opacity: 0.9;
  height: 50px;
  width: 100%;
	z-index: 100;
	display: inline-block;
}

#top-menu li {
  float: right;
  display: inline-block;
  padding-right: 22px;
  padding-top: 15px;
  font-size: 15px;
}

nav a {
	color: #FFA6A3;
	text-decoration: none;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 15pt;
}

a:hover {
	color: #B0EAC8;
}

#animation {
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #f2cdba;
	font-family: "Quicksand";
	padding-top: 270px;
	font-size: 30pt;
}

#portfolio-divider {
	width: 100%;
	height: 560px;
	background-color: #ffffff;
	margin-top: 450px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

#portfolio-divider p {
	text-align: center;
}

.imageBox {
	margin-right: 65px;
	float: right;
	height: 250px;
	width: 300px;
	margin-top: 60px;
}

#web-image {
	background-image: url(http://i.imgur.com/GRmYGga.jpg);
	height: 250px;
	width: 300px;
	background-position: center center;
	background-size: cover;
	opacity: 0.8;
}

#wedding-image {
	background-image: url(http://i.imgur.com/SSzzWJO.jpg);
	height: 250px;
	width: 300px;
	background-position: center center;
	background-size: cover;
	opacity: 0.8;
}

#resume-image {
	background-image: url(http://i.imgur.com/ffONpHh.jpg);
	height: 250px;
	width: 300px;
	background-position: center center;
	background-size: cover;
	opacity: 0.9;
}

#portfolio-divider figcaption {
	display: block;
	text-align: center;
	margin-top: 260px;
	font-family: "Quicksand";
	color: #6B5553;
}

.extra-fig {
	text-align: center;
	margin-left: 80px;
	margin-top: 20px;
}

figure a {
	color: #FFA6A3;
	text-decoration: none;
	font-family: "Cinzel", serif;
	font-size: 15pt;
}

figure a:hover {
		color: #B0EAC8;
}

#headshot-divider {
	background-image: url(http://i.imgur.com/MclrLBU.jpg);
	height: 400px;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	opacity: 0.8;
}

#headshot-divider h1 {
	font-family: "Open Sans Condensed";
	display: block;
	text-align: center;
	font-size: 30px;
	color: #fff;
	line-height: 1.2;
	margin: 0 auto;
	opacity: 1;
	width: 68%;
	padding-top: 120px;
}

#extra-headshot-paragraph {
	color: white;
	font-family: "Quicksand", sans-serif;
	font-size: 10pt;
	margin-left: 10px;
	margin-top: 220px;
}

.meet-brittany-button {
	 display: inline-block;
   width: 200px;
   padding: 8px;
   color: #fff;
   border: 1px solid #fff;
   text-align: center;
   outline: none;
   text-decoration: none;
	 margin-left: 522px;
	 margin-top: 50px;
	}

	.meet-brittany-button:hover,
	.meet-brittany-button:active {
		background-color: #fff;
		color: #FFA6A3;
	}

	.meet-brittany-button-transition {
		display: inline-block;
		width: 200px;
		padding: 8px;
		color: #fff;
		border: 2px solid #fff;
		text-align: center;
		outline: none;
		text-decoration: none;
		transition: background-color 0.2s ease-out, color 0.2s ease-out;
	}
.meet-brittany-button-transition:hover,
.meet-brittany-button-transition:active {
	background-color: #fff;
	color: #FFA6A3;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

#contact-divider {
	width: 100%;
	height: 360px;
	background-color: #ffffff;
	margin-top: 450px;
	margin: 0 auto;
}

#quote-paragraph {
text-align: center;
font-size: 30pt;
margin-top: 70px;
color: #6B5553;
margin-left: 200px;
margin-right: 200px;
font-family: "Quicksand", sans-serif;
}

#shaw-paragraph {
	text-align: center;
	color: #FFA6A3;
	margin-top: 10px;
}

#contact-divider a {
	font-family: "Cinzel", serif;
	font-size: 20pt;
	color: #f2cdba;
	text-decoration: none;
	justify-content: center;
}

#contact-divider a:hover {
	color: #B0EAC8;
}

footer {
	background-color: #f2cdba;
	width: 100%;
	height: 30px;
}

footer p {
	color: #6B5553;
	font-family: "Cinzel", serif;
	padding-left: 20px;
	padding-top: 5px;
}

#meet-brittany-section {
	background-image: url(http://i.imgur.com/HguqEC8.jpg);
	height: 400px;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	padding-bottom: 30px;
}

#meet-brittany-container {
	height: 175px;
	width: 363px;
	padding-top: 30px;
}

#meet-brittany-paragraph {
	color: #f2cdba;
	padding-top: 40px;
	padding-left: 20px;
	font-size: 30pt;
	font-family: "Quicksand", sans-serif;
}

#emma-paragraph {
	color: #FFA6A3;
	padding-left: 130px;
	padding-top: 10px;
}

#brittany-bio-section {
	height: 500px;
	background-color: #FFF4F1;
	opacity: 0.8;
	background-image: url(http://i.imgur.com/ggTB9CQ.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 680px;
	padding-right: 60px;
	padding-top: 40px;
	padding-bottom: 110px;
	font-family: "Quicksand", sans-serif;
	font-size: 12pt;
	line-height: 1.5em;
}

#brittany-bio-section div {
	margin: auto 0;
	color: #6B5553;
}

#liz-paragraph {
margin-top: 10px;
}

#web-section {
	height: 400px;
	width: 100%;
	background-image: url(http://i.imgur.com/DYXnk9s.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 30px;
}


/*#web-section img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
	position: fixed;
}*/

#web-intro-section {
	height: 300px;
	width: 100%;
	background-color: #FFF4F1;
}

#web-intro-section div {
	margin: 0 auto;
	width: 700px;
	height: 170px;
	padding-top: 5px;
}

#web-intro-section h1 {
	color: #FFA6A3;
	padding-top: 60px;
	/*padding-left: 20px;*/
	font-size: 15pt;
	font-family: "Cinzel", serif;
	text-align: center;
}

#web-intro-section p {
	text-align: center;
	font-family: "Quicksand", sans-serif;
	color: #6B5553;
	/*padding-top: 50px;*/
}

#web-information-section {
	width: 100%;
	height: 560px;
	background-color: #ffffff;
	margin-top: 450px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

#web-image-one {
	background-image: url(http://i.imgur.com/wllkQag.png);
	height: 250px;
	width: 300px;
	background-position: center center;
	background-size: cover;
	opacity: 0.8;
}

#web-image-two {
	background-image: url(http://i.imgur.com/LfnFZpo.png);
	height: 250px;
	width: 300px;
	background-position: center center;
	background-size: cover;
	opacity: 0.8;
}

#web-image-three {
	background-image: url(http://i.imgur.com/X4eOGqS.jpg);
	height: 250px;
	width: 300px;
	background-position: center center;
	background-size: cover;
	opacity: 0.8;
}

#web-information-section figcaption {
	display: block;
	text-align: center;
	margin-top: 270px;
	font-family: "Quicksand";
	color: #6B5553;
}

#web-resume-section {
	height: 500px;
	width: 100%;
	background-color: #FFF4F1;
}

#wedding-section {
	background-image: url(http://i.imgur.com/Jaz1B4c.jpg);
	height: 400px;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

#wedding-container {
	height: 100px;
	width: 763px;
	padding-top: 120px;
}

#wedding-paragraph {
	color: #f2cdba;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 30pt;
	font-family: "Quicksand", sans-serif;
}

#jane-paragraph {
	color: #FFA6A3;
	padding-left: 300px;
	padding-top: 10px;
}

#wedding-intro-section {
	height: 300px;
	width: 100%;
	background-color: #FFF4F1;
}

#wedding-intro-first-line {
	color: #FFA6A3;
	padding-top: 60px;
	/*padding-left: 20px;*/
	font-size: 15pt;
	font-family: "Cinzel", serif;
	text-align: center;
}

#wedding-intro-section div {
	margin: 0 auto;
	width: 700px;
	height: 170px;
}

#wedding-intro-section p {
	text-align: center;
	font-family: "Quicksand", sans-serif;
	color: #6B5553;
}

.gallery-container {
	position: relative;
	height: 320px;
	text-align: center;
}

.thumbnail img {
	border: 1px solid white;
	margin: 0 5px 0;
	padding-right: 40px;
	padding-top: 20px;
}

.thumbnail:hover {
	background-color: transparent;
}

.thumbnail:hover img {
	border: 1px solid #FFA6A3;
}

.thumbnail span {
	position: absolute;
	background-color: #FFA6A3;
	padding: 5px;
	left: -1000px;
	border: 1px solid #FFA6A3;
	visibility: hidden;
	color: white;
	text-decoration: none;
}

.thumbnail span img {
	border-width: 0;
	padding: 2px;
	height: 620px;
	width: 620px;
}

.thumbnail:hover span {
	visibility: visible;
	top: 0;
	left: 230px;
	z-index: 50;
}
